{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": ["airbnb-base"],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "ignorePatterns": ["./example/**/*"],
  "plugins": ["@typescript-eslint"],
  "rules": {
    "arrow-parens": "off",
    "consistent-return": "off",
    "implicit-arrow-linebreak": "off",
    "comma-dangle": "off"
  }
}
